/*----Field Input-------*/
    
.sea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #b0aac2;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("img/sea.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    }

/*----Field select-------*/
.sel {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #b0aac2;
    margin-bottom: 10px;
}

.sel:hover {
   width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #c2d4d8;
    margin-bottom: 10px; 
}

/*----button-------*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #667467;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 258px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*----footer-------*/
.foot {
    background: #b0aac2;
    height: 70px;
    width: 100%;
    padding: 24px 0 15px 0;
    
}

.foot p {
	margin: 0;
	padding-top: 8px;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	color: #667467;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #b0aac2;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #b0aac2;
}

textarea {
    width: 100%;
    height: 90px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
}

textarea:focus {
    border: 3px solid #b0aac2;
}


.fon {
    font-family: Humanst521 BT;
    font-weight: bold;
    
}

.content-isi {
	/*position: absolute;*/
	display: block;
	width: 100%;
}